pipeline/child_line_pip.json
{
	"name": "child_line_pip",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata2').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata2",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "source_folder_metadata_ds",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.SourceStore_Location",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.SourceStore_Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"exists",
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureDataLakeStoreReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach-2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureDataLakeStoreReadSettings",
										"recursive": true,
										"deleteFilesAfterCompletion": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "source_Adls_Ds",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.SourceStore_Location",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.SourceStore_Directory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Target_gen2_ds",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@pipeline().parameters.TargetStore_Location",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.TargetStore_Directory",
											"type": "Expression"
										},
										"filename": "*.csv"
									}
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PROC_ETL_LOAD_STATUS]",
								"storedProcedureParameters": {
									"activityname": {
										"value": "copyActivity",
										"type": "String"
									},
									"activitystatus": {
										"value": {
											"value": "@activity('Copy data1').output.execution",
											"type": "Expression"
										},
										"type": "String"
									},
									"Createdon": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"endtime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy data1').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"readrows": {
										"value": {
											"value": "@activity('Copy data1').output.dataRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"runid": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"starttime": {
										"value": {
											"value": "@activity('Copy data1').output.execution",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"writerows": {
										"value": {
											"value": "@activity('Copy data1').output.dataWritten",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceStore_Location": {
				"type": "string"
			},
			"SourceStore_Directory": {
				"type": "string"
			},
			"TargetStore_Location": {
				"type": "string"
			},
			"TargetStore_Directory": {
				"type": "string"
			},
			"SourceFilename": {
				"type": "string"
			},
			"TargetFilename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}