pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "gmkvariable",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy/MM/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/phase1/ETL/Read_Write_ADLSGen2_Files",
					"baseParameters": {
						"processed_date": {
							"value": "@variables('gmkvariable')",
							"type": "Expression"
						},
						"sourcetablename": "cust"
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AzureDatabricks_workspace",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[notebookloga_usp]",
					"storedProcedureParameters": {
						"messagename": {
							"value": {
								"value": "@activity('Notebook1').output.runOutput",
								"type": "Expression"
							},
							"type": "String"
						},
						"rundetails": {
							"value": {
								"value": "@activity('Notebook1').output.runPageUrl",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"gmkvariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}